<!DOCTYPE html>
<html>
<head>
  <title>StaticPageWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body">

	<header>

	<link>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "about", about_path %></li>
			<li><%= link_to "portfolio", portfolio_path %></li>
			<li><%= link_to "contact", contact_path %></li>
		</ul>
	</link>

</header>


<%= yield %>

</body>
</html>
